.forgetpassword{
    margin-top: 5%;
    /* margin-left: 38%; */
    margin-bottom: 5%;
}

.forgetpassword img{
    margin-left: 32%;
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
}

.content{
    position: relative;
    left: -3%;
}

.forgetpassword h2{
    margin-left: -3%;
    width: 300px;
    height: 30px;
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #111B2B;
}


.email{
    margin-top: 30px;
}

.email h4 {
    font-family: 'Inter' , sans-serif;
    font: bold;
    font-size: 15px ;
    color: #111B2B;
}

.emailcontent{
    border: 1px solid rgb(211, 207, 207);
    border-radius: 5px;
    position: relative;
    height: 47px;
    width: 300px;
}
.error{
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    background-color: #D05050;
    color: white;
    border-radius: 12px;
    width: 250px;
    height: 63px;
}

.sendcodebtn{
    margin-top: 30px;
    font-family: 'Inter' , sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    background-color: #4484FF;
    border-color: #4484FF;
    color: white;
    border-style: solid;
    border-radius: 12px;
    height: 40px ;
    width: 300px;
}
.sendcodebtn:disabled,
.sendcodebtn:focus:disabled,
.sendcodebtn:hover:disabled,
.sendcodebtn:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.resendcodebtn{
    margin-left: 30%;
    margin-top: 15px;

    width: 120px;
    height: 22px;

    border-radius: 20px;
    border: white;

    font-family: 'Inter' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    background-color: white;
    color: #4484FF;
}